/* HEADER START */
header {
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}
/* HEADER END */

/* NAV START */
nav > div.nav_wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: right;
    padding: 10px 0;
    border-bottom: 1px solid #dadada;
}

nav > div.nav_wrap a {
    padding: 0 10px;
}
/* NAV END */

/* ARTICLE START */
/* SIGNUP */
#signup_wrap .signup_form {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}
/* ARTICLE END */

/* FOOTER START */
footer {
    padding: 75px 0;
    background-color: #2c2c2c;
    color: #ececec;
    font-size: .9em;
    text-align: center;
}
/* FOOTER END */