<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEMBER SERVICE</title>

    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

</head>
<body>
    
    <header>
        <h2>MEMBER SERVICE</h2>
    </header>

    <nav>
        <div class="nav_wrap">
            <a href="/">HOME</a>
            |
            <a href="/member/signup_form">SIGN-UP</a>
            |
            <a href="/member/signin_form">SIGN-IN</a>
            |
            <a href="/member/signout_confirm">SIGN-OUT</a>
            |
            <a href="/member/modify_form">MODIFY</a>
            |
            <a href="/member/delete_confirm">DELETE</a>
        </div>
    </nav>

    <article>
        <div class="index">
            <img src="{{ url_for('static', filename='img/computer.jpg') }}">
        </div>
    </article>

    <footer>
        Copyright ©OFFICE Corp. All Rights Reserved.
    </footer>

</body>
</html>